*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#main-nav{
    background-color: black;
    height: 5rem;
    color: #A5832E;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-container{
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-brand{
    height: 65%;
}

#nav-right{
    display: flex;
    align-items: center;
}

#nav-email-link{
    color:  #A5832E;
    text-decoration: none;
    font-weight: 700;
}

#nav-email-link:hover{
    color:  white
}

#nav-reserva-button{
    background-color: black;
    color: #A5832E;
    padding: 10px;
    border: 2px solid #A5832E;
    border-radius: 4px;
    font-size: 1rem;
    margin-left: 1rem;
}

#main-hero{
    height: 88vh;
    background-image: url('./img/bg-principal.jpg');
    background-color: black;
    background-repeat: no-repeat;
    background-size: 80% auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#hero-content-container{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hero-content{
    width: 40%;
}

#hero-title{
    color: #A5832E;
    font-size: 5rem;
    font-weight: 400;
}

#hero-subtitle{
    color: white;
    font-size: 1.7rem;
    width: 80%;
}

#reserva-form-container{
    background-color: white;
    width: 45%;
    border-radius: 5px;
}

#reserva-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    margin: 1.5rem;
}

.form-item{
    margin: 1rem 0;
}

.form-title{
    font-weight: 500;
    font-size: 1.5rem;
}

.form-input{
    padding: .7rem;
    border-radius: 5px;
    font-size: 1rem;
}

.form-button{
    padding: .7rem;
    border-radius: 5px;
    background-color: #A5832E;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
}

#tratamientos-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 80%;
    height: 90vh;
    margin: 2rem auto;
}

#tratamientos-title{
    color: #A5832E;
    font-size: 2.3rem;
    font-weight: 400;
    margin-top: 1rem;
}

#tratamientos-content-container{
    width: 80%;
}

#tratamientos-content{
    color: #021212;
    font-size: 1.3rem;
    font-weight: 300;
}

#tratamientos-card-container{
    display: flex;
    justify-content: space-between;
    height: 60%;
}

.tratamiento-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    width: 28%;
}

.tratamiento-card:hover{
    transform: scale(1.2);
    border-bottom: 3px solid #A5832E;
}

.img-cropper {
    width: 175px;
    height: 175px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.tratamiento-img{
    display: inline;
    margin: 0 auto;
    margin-left: -25%; 
  height: 100%;
  width: auto;
}

.tratamiento-img-tall{
    display: inline;
    margin: 0 auto;
    margin-left: ; 
  height: auto;
  width: 100%;
}

.card-title{
    color: #A5832E;
    font-size: 1.4rem
}

.card-content{
    font-size: 1.2rem;
    font-weight: 300;
}

#quienes-somos-section{
    height: 100vh;
}

#quienes-somos-content-container{
    height: 65%;
    background-image: url('./img/photo-1520473378652-85d9c4aee6cf.jpg');
    background-color: #09070E;
    background-repeat: no-repeat;
    background-position: 10% 50%;
    background-size: 100% auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

#quienes-somos-background-overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);  
    display: flex;
    justify-content: center;
    align-items: center;
}

#quienes-somos-text-container{
    height: 60%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#quienes-somos-title{
    color: #E4D13A;
    font-size: 2.3rem;
}

.quienes-somos-text{
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}

.image-carousel-container{
    display: flex;
    height: 35%;
    overflow: hidden;
}

.carousel-img{
    height: 35vh;
}

#map-content-container{
    width: 80%;
    margin: 5rem auto;
    display: flex;   
}

#map-text-content{
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%
}

.map-frame{
    width: 70%;
    height: 70vh;
}

#horarios-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
}

#direccion-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
}

.map-content-title{
    color: #A5832E;
}

.map-text-content{
    font-size: 1.3rem;
    color: #262626;
}

#map-button{
    font-size: 1.3rem;
    color: #262626;
    background-color: transparent;
    padding: 1rem 2rem;
    border: 3px solid black;
    border-radius: 5px;
    width: 60%;
}